div{
color:brown;
border-style:solid;
border-color:#EEF5FF;
border-width:13px;
text-align:left;
width:20%;
height:90%;
font-size:13px;
box-sizing:border-box;
padding:20px;
float:left;
background-color:#D4E7C5;
font-family:Garamond;
}
#a{
border-style:solid;

background-color:#DDF2FD;
border-width:5px;
width:80%;
height:90%;
border-width:15px;
}
ul{
color:brown;
font-family:Garamond;
}

body{
background-color:#F1EEDC;
}
