.x{
background-color:#E1F0DA;
height:800px;
width:767px;
display:inline-block;
position:fixed;
top:0px;
left:0px;

}
.y{
background-color:#D4E7C5;
height:800px;
width:767px;
position:fixed;
top:0px;
right:0px;
text-align:right;

}
.a{
height:600px;
width:600px;
background-color:#E1F0DA;
position:fixed;
top:70px;


}
.z{
height:600px;
width:600px;
background-color:#D4E7C5;
left:200px;
top:70px;
position:fixed;
}

h1{
text-align:center;
font-size:40px;
color:#436850;
}
h3{
text-align:center;
padding:20px;
color:#436850;
}

#log{
top:360px;
position:fixed;
left:425px;
height:30px;
width:160px;
}
#login{
top:510px;
position:fixed;
left:425px;
height:30px;
width:160px;
}
img{
height:400px;
width:400px;
padding:100px;
}
::placeholder {
  color:#436850;
background-color:#ADBC9F;
  opacity: 1; 
}
p{
text-align:center;
font-size:25px;
color:#436850;
}
#p{
height:350px;
width:400px;
border:6px solid #ADBC9F;
margin-left:90px;
margin-bottom:70px;
}
